 <center>
                    <div style="width:20%">
                     
                            <h2 class="modal-title" style="margin-left: 20px;margin-top: 10px;">MIS AMIGOS</h2>
        
                            <input type="text" class="box-text" ng-model="filtro" style="margin-top:10px;" placeholder="Ingresa Nombre">
                        
                    </div>
                    </center>
                </div>
                <div class="modal-body" id="lista" style="overflow-y: auto;">
                    <table width="80%" align="center" class="tabla" >
                        <tbody>
                            <tr ng-repeat="item in Amigos| filter:filtro" ng-if="item.username != 'none@none.co'">
                                <td width="32"><div class="ranking-num-list circle">{{$index + 1}}</div></td>
                                  <td width="52px;" height="52px;" >
                            <img src="../images/usuarios/default.png" alt="" class="circle" style="width:42px;height:42px;" ng-if="item.photo == 'false'">
                            <img src="../../image/usuarios/{{item._id}}.jpg" alt="" class="circle" style="width:42px;height:42px;" ng-if="item.photo == 'true'">
                        </td>
                                <td align="left"><span style="margin-left: 10px;">{{item.nombres}} {{item.apellidos}}</span></td>
                                <td align="left"><div class="num-list">{{item.puntaje}}</div></td>
                                <td align="right"><button class="btn-reset btn-secundario" ng-click='agregar(item)' style='color: black'>Agregar a nomina</button></td>

                            </tr>
                        </tbody>
                    </table>
                </div>